<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>Login</h1>

  <div class="container container-centered">

    <form action="/login" method="post">
      <!-- <div class="error">Test erreur</div> -->

      <label for="login">Login :</label>
      <input type="text" name="login" id="login">
  
      <label for="pass">Mot de passe :</label>
      <input type="password" name="pass" id="pass">
  
      <button type="submit">Envoyer</button>
    </form>

  </div>

</body>
</html>