extends layout

include mixins

block variables
  - const PAGE_TITLE = "Accueil"

block contenu
  h1 Hello #{user.firstname} #{user.lastname.toUpperCase()} !

  if user.age < 18
    p Tu es mineur !
  else
    p Tu es majeur !

  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae aperiam minima quidem dicta odio voluptates eligendi laboriosam, et magnam error, perspiciatis exercitationem. Fugit nihil laborum eligendi in, dolores eum enim?

  +competence_div('PUG')